.container {
  height: 80vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.name {
  font-size: 1.2em;
}

.caption {
  font-size: .8em;
  font-style: italic;
  margin-top: -1em;
}
