.container {
  height: 80vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.avatarContainer {
  object-fit: cover;
  border-radius: 50%;
  width: 20em;
  height: 20em;
}

.name {
  font-size: 1.2em;
}

.caption {
  font-size: .8em;
  font-style: italic;
  margin-top: -1em;
}
