.container {
  height: 100%;
}

.nav-wrapper {
  z-index: 2;
  position: sticky;
  top: 0;
  padding: 1em;
  padding-left: 12em;
  padding-right: 12em;
  background-color: #fffff2;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  list-style-type: none;
  padding-inline-start: 0;
}

.nav-item {
  text-decoration: none;
  color: black;
  font-size: 1.6em;
} 

.content {
  z-index: 0;
  padding-left: 14em;
  padding-right: 14em;
  font-size: 1.2em;
}

@media (max-width: 450px) {
  .nav-wrapper {
    padding-left: 1em;
    padding-right: 1em;
  }

  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.footer {
  padding: 1em;
  position: sticky;
  top: 100vh;
  display: grid;
  justify-content: center;
}
