.container {
  /* border: 4px solid black; */
  height: 100%;
}

.nav-wrapper {
  /* border: 2px solid rgb(18, 224, 18); */
  position: sticky;
  top: 0;
  padding: 1em;
}

.nav {
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
} 

.content {
  /* border: 2px solid rgb(1, 172, 206); */
  padding-left: 6em;
  padding-right: 6em;
}

.footer {
  /* border: 2px solid rgb(243, 112, 134); */
  padding: 1em;
  position: sticky;
  top: 100vh;
  display: grid;
  justify-content: center;
}
