.container {
  height: 50vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  justify-items: center;
  gap: 2em;
}

.item {
  font-size: 1.2em;
}

.item > * {
  color: black;
}